.bigdiv{
    background-color: #101010 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height:53px;
    float: right;
    width: calc( 100vw - 235px);
    /* width: 100%; */
}
.div1{
    display: flex;
    justify-content: space-between;
    width: 70px;
}
.div1>div>img{
    width: 15px;
    height: 15px;
    
}
.div1>div{
    border-radius: 50%;
    background-color: #0A0A0A;
    height:30px;
    width:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    cursor: not-allowed;
    
}

.button1 , .button2 {
    font-size: 15px;
    font-weight: 700;
    font-family:Helvetica,Arial,sans-serif;
    border-radius: 18px;
    border: none;
}
.button1{
    color: rgb(160, 162, 163);
    width: 100px;
    height: 35px;
    background-color: transparent;
}
.button2{
    color: black;
    width: 150px;    
    height: 40px;
    margin-left: 30px;
}

.button1:hover{
    transform: scale(1.1);
    color: aliceblue ;
    
}
.button2:hover{
    transform: scale(1.04);
}
